<div class="row">
	<div class="hide-for-small">
		<div class="large-12 columns contain-to-grid sticky">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<a href="<%= root_path %>"><img id="top-bar-logo-big" src="<%= asset_path('top-bar-logo.png') %>"></a>
					</li>
				</ul>
				<section class="top-bar-section">
					<ul class="right">
						<li><a href="<%= root_path %>">Home</a></li>
						<li class="divider"></li>
						<li><a href="<%= podcasts_path %>">Listen</a></li>
						<li class="divider"></li>
						<li><a href="http://blog.michiganbeershow.com">Blog</a></li>
						<li class="divider"></li>
						<li class="has-dropdown">
							<a href="#">Subscribe</a>
							<ul class="dropdown">
								<li><a href="https://itunes.apple.com/us/podcast/the-michigan-beer-show/id985070913?mt=2">iTunes</a></li>
								<li><a href="http://soundcloud.com/mibeershow">SoundCloud</a></li>
								<li><a href="http://www.stitcher.com/podcast/the-michigan-beer-show">Stitcher</a></li>
							</ul>
						</li>
						<li class="divider"></li>
						<li><a href="https://ugpogo.undergroundshirts.com/groupIndex.php?cart_id=5192">Apparel</a></li>
						<li class="divider"></li>
						<li><a href="mailto:hello@michiganbeershow.com">Contact</a></li>
					</ul>
					<ul class="left">
						<li><a href="#"><%= icon('facebook-square', class: 'strong') %></i></a></li>
						<li><a href="#"><%= icon('twitter', class: 'strong') %></a></li>
						<li><a href="#"><%= icon('instagram', class: 'strong') %></a></li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>
<% @podcasts.each do |podcast| %>
	<div class="hide-for-small">
		<div class="row episode">
			<div class="large-12 columns">
				<h3>
					<%= podcast.title %>
				</h3>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= podcast.uri %>&amp;color=32beeb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				<p class="podcast-description"><%= podcast.description %></p>
			</div>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="hide-for-medium-up">
		<div class="off-canvas-wrap" data-offcanvas>
			<div class="inner-wrap">
				<nav class="tab-bar">
					<section class="right-small">
						<a class="right-off-canvas-toggle menu-icon" href="#" aria-expanded="false">
							<span></span>
						</a>
					</section>
					<section class="middle tab-bar-section">
						<img src="<%= asset_path('top-bar-logo.png') %>" id="top-bar-logo-small">
					</section>
				</nav>
				<aside class="right-off-canvas-menu">
					<ul class="off-canvas-list">
						<li>
							<label>Home</label>
						</li>
						<li>
							<a href="<%= root_path %>">Home</a>
						</li>
						<li>
							<label>Listen</label>
						</li>
						<li>
							<%= link_to "Podcasts", podcasts_path %>
						</li>
						<li>
							<label>Support the Show</label>
						</li>
						<li>
							<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=jNFn4zy7rhgd618uH6Gw8ZNxz-JAwQTtILOHBNsgujx-d6uGKHHe6qsyCIC&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec">Donate with PayPal</a>
						</li>
						<li>
							<a href="https://ugpogo.undergroundshirts.com/groupIndex.php?cart_id=5192">Apparel</a>
						</li>
						<li>
							<label>Subscribe</label>
						</li>
						<li>
							<a href="https://itunes.apple.com/us/podcast/the-michigan-beer-show/id985070913?mt=2">iTunes</a>
						</li>
						<li>
							<a href="http://soundcloud.com/mibeershow">SoundCloud</a>
						</li>
						<li>
							<a href="http://www.stitcher.com/podcast/the-michigan-beer-show">Stitcher</a>
						</li>
						<li>
							<label>Contact</label>
						</li>
						<li>
							<a href="mailto:hello@michiganbeershow.com">Email</a>
						</li>
					</ul>
				</aside>
				<section class="main-section">
					<% @podcasts.each do |podcast| %>
						<div class="row episode">
							<div class="hide-for-medium-up">
								<div class="small-10 small-centered columns">
									<h3>
										<%= podcast.title %>
									</h3>
									<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= podcast.uri %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
									<p class="podcast-description"><%= podcast.description %></p>
								</div>
							</div>
						</div>
					<% end %>
				</section>
			</div>
		</div>
	</div>
</div>