<% @podcasts.each do |podcast| %>
	<div class="episode">
		<h3>
			<%= link_to podcast.title, podcast %>
		</h3><p><%= podcast.published_at %></p>
		<audio controls>
			<source src="<%= podcast.resource_url %>" preload="auto" type="audio/mpeg">
		</audio>
		<p class="podcast-description"><%= podcast.description %></p>
		<% podcast.beers.each do |beer| %>
			<p><%= beer.name %></p>
			<p><%= beer.brewery %></p>
			<p><%= beer.location %></p>
		<% end %>
		<% if current_user %>
			<%= link_to "Edit", edit_podcast_path(podcast) %>
		<% end %>
	</div>
<% end %>